.env
.DS_Store
.idea
.idea/Project 2.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
config/.DS_Store
venv/
dataset/__pycache__/
config/__pycache__/
__pycache__/